@{
    ViewData["Title"] = "O que é Js";
    <link rel="stylesheet" href="~/css/editor-style.css" />
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/css/styleAula.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
}


<body>

    @*Background da navbar*@
    <div class="nav-background">
        <img class="img-background1" src="~/img/background.png" alt="" />
        <img class="img-background2" src="~/img/background.png" alt="" />
        <img class="img-background3" src="~/img/background.png" alt="" />
    </div>

    <!-- NavBar -->
    <nav class="nav-bar">
        <div class="elementos-nav">
            <a asp-controller="Home" asp-action="Modulos">
                <img class="logo_nav" src="~/img/logoCowde_ofc.png" alt="">
            </a>

            <div class="links-nav">
                <a class="text-nav" asp-area="" asp-controller="Home" asp-action="Modulos">Modulos</a>
            </div>
            <div class="drop">
                @{
                    string nome = ViewBag.Avatar;
                    string formato = "/img/avatares/" + nome;
                }
                <img class="perfil-img" src="@formato" alt="" />
                <div class="drop-down_perfil">
                    <a class="text-drop" asp-area="" asp-controller="Home" asp-action="Perfil" id="link1">Perfil</a>
                    <a class="text-drop" asp-area="" asp-controller="Usuario" asp-action="Sair">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    <!--Menu Hamburger Responsivo*-->
     <div class="topnav">
         <a asp-controller="Home" asp-action="Modulos">
             <img class="logoHambger" src="~/img/logoCowde_ofc.png" alt="" />
         </a>
         <div id="myLinks">
             <a class="a-link" asp-area="" asp-controller="Home" asp-action="Modulos">Módulos</a>
         </div>
         <a href="javascript:void(0);" class="icon" onclick="Burger()">
             <i class="fa fa-bars"></i>
         </a>
     </div>


     <!-- Código pra ocultar os links e também o menu-->
    <script>
        function Burger() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
        var nav = document.querySelector(".topnav").style.display;
        if ((nav.style.display = "flex")) {
            Burger();
        }
    </script>

    <!-- Ajuda Pop-Up -->
    <img id="but-ajuda" onclick="ajuda()" src="~/img/botaoUquee.png" alt="">
    <div class="modal-ajuda" id="modal">
        <div class="modalX">
            <div class="elementosGeral">
                <p class="x" onclick="fecharPopUp()">X</p>
                <div class="elementos">
                    <p class="text-modal">• Esse é o editor, onde você vai digitar seu código!</p>
                    <img class="img" src="~/img/editorTxt.png" alt="">
                    <p class="text-modal">
                        • Esses são os botões. O amarelo vai fazer seu código funcionar, e o rosa vai limpar
                        tudo
                        o que estiver na tela. Cuidado!
                    </p>
                    <img class="botoes-img" src="~/img/botoes.png" alt="">
                </div>
                <div class="elementos">
                    <p class="text-modal">• Este é o campo que vai mostrar o que você deve digitar.</p>
                    <img class="img" src="~/img/dica.png" alt="">
                    <p class="text-modal">• E é aqui que vão aparecer seus resultados!</p>
                    <img class="img" src="~/img/saida.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <!--Pop-up contra copiar e colar-->
    <div class="modal" id="modal">
        <p class="x" onclick="fecharPopUp()">X</p>
        <p class="titulo-modal">Hey!</p>
        <p class="text-modal">Tente digitar ao invés de copiar e colar, garantimos que seu aprendizado será melhor!</p>
        <img class="vaquinha" src="~/img/vaquinha_jennifer.png" alt="">
    </div>


    <main id="opacidade">
        <div class="card-text">
            <p class="titulo">
                <span style="color: #3bff14">1. O que é:</span> JavaScript? 🤔
            </p>

            <!--parte 1-->

            <div id="aula-pt1">

                <p class="texto">
                    Podemos dizer que o JavaScript é como o vento. Você não o vê, mas pode sentir.
                    Quer dizer, na verdade você o vê, só não sabia disso até esse momento.
                </p>
                <p class="texto">
                    A partir de agora, você será capaz de ver o JavaScript em qualquer lugar da internet. 
                    <span style="color: #3bff14">Plim!!</span>
                </p>
                <p class="texto">
                    Quer fazer uma coisa legal? Digite o que está escrito abaixo no editor ao lado.
                </p>
                <p class="texto-teste" id="texto-aula">alert("Eu posso ver o JavaScript!") </p>
                <p class="texto">
                    Agora aperte o botão executar!
                </p>
                <p class="texto">
                    Se tudo correu bem, uma janelinha apareceu no topo da sua tela.
                    Massa, né? Você acabou de usar o JavaScript para fazer isso...
                </p>
                <p class="texto">
                    O <span style="color: #3bff14">JavaScript</span> é uma linguagem de programação que te permite realizar várias funções.
                    É ele quem faz o seu computador pensar, na maior parte do tempo.
                    Existem outras linguagens por aí, mas ele é mais legal :P
                </p>
                <p class="texto">
                    Vamos tentar outra coisinha. Escreva isso:
                </p>
                <p class="texto-teste" id="texto-aula">
                    console.log ( <br>
                    prompt("Qual é o seu nome?")<br>
                    )
                </p>
                <p class="texto">
                    Quando você usar o console.log(), seus resultados irão aparecer abaixo do editor, belê?
                </p>
                <p class="texto">
                    Se quiser deixar seus códigos mais arrumadinhos, você pode fazer um comentário 
                    usando <span style="color: #3bff14">//</span>, assim:
                </p>
                <p class="texto-teste" id="texto-aula">
                    //Alerta no topo da página <br>
                    alert("✍(◔◡◔)")
                </p>


                <div class="butns">
                    <button class="btn-avancar" id="butAvan" onclick="avancar_conteudo1()">AVANÇAR</button>
                </div>
            </div>


            <!--parte 2-->

            <div id="aula-pt2">
                <p class="texto">
                    Um pouquinho de: números e matemática
                </p>
                <p class="texto">
                    Vamos lá. Você tem duas galinhas de estimação, a Cassandra e a Odete.
                    A Cassandra botou 6 ovos em um dia, enquanto a Odete botou 4. Quantos ovos elas botaram no total?
                </p>
                <p class="texto">
                    Fazer cálculos em JavaScript é bem fácil. Lembre-se de colocar o <span style="color: #3bff14">console.log()!</span>
                </p>
                <p class="texto-teste" id="texto-aula">
                    console.log(6 + 4)
                </p>
                <p class="texto">
                    E então? Teremos muitos pintinhos logo, logo!
                </p>
                <p class="texto">
                    Continuando. Vamos supor que tenha 3 amigos com você,
                    e vocês precisam dividir 24 balinhas de morango entre os 4.
                    Quantas balinhas cada um ganharia?
                </p>
                <p class="texto-teste" id="texto-aula">
                    console.log(24 / 4)
                </p>
                <p class="texto">
                    E se você tivesse mais 3 amigos com você, de quantas balas precisaria?
                </p>
                <p class="texto-teste" id="texto-aula">
                    console.log(7 * 6)
                </p>
                <p class="texto">
                    Viu como é simples?
                </p>
                <p class="texto">
                    Aqui a lista de operadores matemáticos: <br>
                    -> (+) soma <br>
                    -> (-) subtração <br>
                    -> (*) multiplicação <br>
                    -> (/) divisão
                </p>
                <p class="texto">
                    É como você já deve ter aprendido na escola. Fácil, né?
                </p>
                <p class="texto">
                    Você pode fazer uma conta com todos esses operadores,
                    mas não esqueça que existem ordens de prioridade!
                    Se quiser que algo seja calculado primeiro, coloque um parêntese.
                </p>
                <p class="texto-teste" id="texto-aula">
                    //Como você faria a subtração ser //realizada primeiro nesse caso?
                    console.log(10 + 25 * 2 / 6 - 3)
                </p>

                <div class="butns">
                    <button class="btn-voltar" onclick="voltar_conteudo1()">VOLTAR</button>
                    <button class="btn-avancar" id="butAvan" onclick="avancar_conteudo2()">AVANÇAR</button>
                </div>
            </div>


            <!--parte 3-->

            <div id="aula-pt3">
                <p class="texto">
                    Muito bem! 🤩
                </p>
                <p class="texto">
                    Agora que você entendeu o básico de JavaScript e viu que é suaaaaaave,
                    vamos aprender os fundamentos mais importantes dessa linguagem. Boa sorte!
                </p>
                <p class="texto-teste" id="texto-aula">
                    console.log("Vamos nessa!")
                </p>
                <div class="butns">
                    <button class="btn-voltar" onclick="voltar_conteudo2()">VOLTAR</button>
                    <a asp-controller="Home" asp-action="Questionario">
                        <button class="btn-avancar" id="butAvan" onclick="concluir_conteudo()">CONCLUIR</button>
                    </a>

                </div>
            </div>
        </div>

        <!-- Editor de código -->
        <div class="editor__wrapper">
            <p class="text">EDITOR</p>
            <div class="editor__body">
                <div id="editorCode" class="editor__code"></div>
            </div>
            <div class="btns">
                <button class="editor__btn editor__run">EXECUTAR</button>
                <button class="editor__btn editor__reset">LIMPAR</button>
            </div>
            <div class="editor__footer">
                <div class="editor__footer--left"></div>
                <div class="editor__footer--right">
                    <p class="text">SAÍDA</p>
                    <div class="editor__console">
                        <ul class="editor__console-logs"></ul>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Bibliotecas necessárias do Ace -->
    <script src="~/js/ace-editor/src-min/ace.js"></script>
    <script src="~/js/ace-editor/src-min/mode-javascript.js"></script>
    <script src="~/js/ace-editor/src-min/ext-language_tools.js"></script>
    <script src="~/js/aula_funcoes.js"></script>


    <!-- Customização -->
    <script src="~/js/editor.js"></script>
    <script src="~/js/editor-console.js"></script>
    <script src="~/js/but-ajuda.js"></script>

</body>

