@{
    ViewData["Title"] = "Introducao";

    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/css/styleIntro.css" />
    <link rel="stylesheet" href="~/css/introducao.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
}


<body>
    <!-- Background da navbar -->
    <div class="nav-background">
        <img class="img-background1" src="~/img/background.png" alt="" />
        <img class="img-background2" src="~/img/background.png" alt="" />
        <img class="img-background3" src="~/img/background.png" alt="" />
    </div>

    <!-- NavBar -->
    <nav class="nav-bar">
        <div class="elementos-nav">
            <a asp-controller="Home" asp-action="Modulos">
                <img class="logo_nav" src="~/img/logoCowde_ofc.png" alt="">
            </a>

            <div class="links-nav">
                <a class="text-nav" asp-area="" asp-controller="Home" asp-action="Modulos">Modulos</a>
            </div>
            <div class="drop">
                @{
                    string nome = ViewBag.Avatar;
                    string formato = "/img/avatares/" + nome;
                }
                <img class="perfil-img" src="@formato" alt="" />
                <div class="drop-down_perfil">
                    <a class="text-drop" asp-area="" asp-controller="Home" asp-action="Perfil" id="link1">Perfil</a>
                    <a class="text-drop" asp-area="" asp-controller="Usuario" asp-action="Sair">Sair</a>
                </div>
            </div>
        </div>
    </nav>

     <!-- Menu Hamburger Responsivo -->
    <div class="topnav">
        <img class="logoHambger" src="~/img/logoCowde_ofc.png" alt="" />
        <div id="myLinks">
            <a class="a-link" href="#news">News</a>
            <a class="a-link" href="#contact">Contact</a>
            <a class="a-link" href="#about">About</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="Burger()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <script>
        // Código pra ocultar os links e também o menu
        function Burger() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
        var nav = document.querySelector(".topnav").style.display;
        if ((nav.style.display = "flex")) {
            Burger();
        }
    </script>

    <!-- Card Introdutório -->
    <div class="card">
        <a asp-controller="Home" asp-action="Modulos">
            <p class="x">X</p>
        </a>
        <div class="container">
            <p class="titulo">Introdução</p>
        </div>

        <div class="texto">
            <p>
                Qual é o seu nome? Quantos anos você tem? Você possui um gato, um cachorro, ou uma tartaruga de estimação?
            </p>
            <br>
            <p>
                Todas as respostas das perguntas acima são o que chamamos de “dados”.
                Na programação, nós podemos definir os dados da seguinte maneira:
            </p>
            <br>
            <p>
                <span style="color: #ffdd17">--></span> Strings -  Esses são os dados do tipo texto. Por exemplo, seu nome,
                o nome do seu animal de estimação, ou dos seus amigos. Pode ser o nome da sua fruta favorita, pode ser um fato
                aleatório sobre algo que você goste. Qualquer texto é uma string.
            </p>
            <br>
            <p>
                <span style="color: #ffdd17">--></span> Numbers - Já esses são os números! Sua idade é um número, assim como
                sua altura, a quantidade de  brinquedos que você tem ou quantos carneirinhos você conta antes de dormir.
            </p>
            <br>
            <p>
                <span style="color: #ffdd17">--></span> Boolean - Imagine aqueles programas de TV em que os apresentadores fazem
                uma pergunta aleatória e depois dizem “verdadeiro ou falso?”. Um boolean é basicamente isso. Quando uma informação
                é verdadeira, dizemos “true”. Mas quando ela não é verdadeira, a chamamos de “false”. Chocolate é delicioso, “true” ou “false”?
            </p>
            <br>
            <p>
                A seguir, você vai aprender a usar esses dados no que chamamos de <span style="color: #ffdd17">variáveis</span>.
            </p>
            <br>
            <p>
                Bora lá?
            </p>
            <span style="color: #ffdd17"><p>(=￣ω￣=)</p></span>

        </div>
        <a asp-controller="Home" asp-action="Aula2">
            <div class="but-avancar">
                <img class="but-rosa" src="~/img/but-rosa.png" alt="" />
                <p class="text-but-avancar" href="">AVANÇAR</p>
            </div>
        </a>
    </div>
    <ul></ul>
    <!-- Js -->
    <script src="~/js/site.js"></script>
</body>