/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* Background animado */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #06002E;
    position: relative;
}

    body::-webkit-scrollbar {
        width: 12px; /* da scrollbar inteira */
    }

    body::-webkit-scrollbar-track {
        background: #06002E; 
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1px; /* arredondando */
        border: 2px solid #ffdd17;
    }


/* Footer */
footer {
    background-color: #2d2755;
    height: 20%;
    position: relative;
    bottom: 0;
    z-index: 5;
    margin-top: 10%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.logo-icons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 50px;
}

.iconsImg {
    width: 35px;
    cursor: pointer;
}

    .iconsImg:hover {
        scale: 1.05;
    }


.logoFoot {
    width: 130px;
    margin: 0;
}

p #pFoot {
    font-size: 12px;
    font-family: "Courier Prime", monospace;
    color: white;
}

.links {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

hr {
    height: 10px;
    color: #8aeb27;
}

a {
    text-decoration: none;
    color: white;
}

    a:hover {
        color: #c42172;
        text-decoration: underline;
    }


/*DropDown*/
.perfil-img {
    width: 50px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: #0c053b;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.drop-down_perfil {
    background-color: #2d2755;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    right: 310px;
    z-index: 5;
    margin: 0;
}

.drop:hover .drop-down_perfil {
    display: flex;
    cursor: pointer;
}

.text-drop {
    font-family: "Courier Prime", monospace;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

    .text-drop:hover {
        color: #ff148a;
        text-decoration: underline;
    }


  